*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 body {
    background-color:aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
 }
 .card{
    border: 1px solid black;
    border-radius: 20px;
    width: 500px;
    height: 400px;    
    padding-top: 20px;
    color: aqua;
    background-color:rgb(33, 28, 53);
    font-size:larger;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 h2{
    text-align: center;
 }

 label{
    color:aliceblue
 }