*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(199, 240, 250);
    display: flex;
    height: 1000px;
    justify-content: center;
    align-items: center;
}
.Main{
    display: flex;
    /* border: 2px solid black; */
    width: 700px;
    height: 500px;
    background-color: white;
}